.DS_Store
projectFilesBackup/
log
log/application.log
log/*
*.class
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
.sbtserver
