@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0">
        <title>Gilt Unit</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signup.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>

    <div class="container">
        
        <div class="content">
            
            <div class="page-header">
                <h2><i>Signup to Sportify</i></h2>
            </div>

            @helper.form(action = routes.SignUp.submit) {

                <div class="row">
                    <div class="span14">

                        <div class="signup">
                            <fieldset>
                                <legend>Account Information</legend>

                                @inputText(
                                    signupForm("email"),
                                    '_label -> "Email",
                                    '_help -> "",
                                    '_error -> signupForm.globalError
                                )

                                @inputText(
                                    signupForm("firstname"),
                                    '_label -> "First Name",
                                    '_help -> "",
                                    '_error -> signupForm.globalError
                                )

                                @inputText(
                                    signupForm("lastname"),
                                    '_label -> "Last Name",
                                    '_help -> "",
                                    '_error -> signupForm.globalError
                                )

                                @inputText(
                                    signupForm("number"),
                                    '_label -> "Jersey Number",
                                    '_help -> "",
                                    '_error -> signupForm.globalError
                                )

                                @select(
                                    field = signupForm("position"),
                                    options = options(List("PG", "SG", "SF", "F", "C")),
                                    '_default -> "-------- Choose a Position --------",
                                    '_label -> "Position",
                                    '_error -> "",
                                    '_showConstraints -> false
                                )

                            </fieldset>

                            <div class="actions">
                                <input type="submit" class="btn btn-primary" value="Sign Up">
                                <a href="@routes.Application.index" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    </body>
</html>
