@(signupForm: Form[PlayerData])(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

@mainAuth("Signup to Sportify") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signup.css")">

    <div class="main">

        @if(flash.get("failure").isDefined) {
            <div class="alert alert-danger">
                @flash.get("failure")
            </div>
        }

        @helper.form(action = routes.SignUp.submit) {

            <div class="signup">
                <fieldset>
                    <legend>Account Information</legend>

                    @inputText(
                        signupForm("email"),
                        '_label -> "Email",
                        '_help -> "",
                        '_error -> signupForm.globalError
                    )

                    @inputText(
                        signupForm("first_name"),
                        '_label -> "First Name",
                        '_help -> "",
                        '_error -> signupForm.globalError
                    )

                    @inputText(
                        signupForm("last_name"),
                        '_label -> "Last Name",
                        '_help -> "",
                        '_error -> signupForm.globalError
                    )

                    @inputText(
                        signupForm("number"),
                        '_label -> "Jersey Number",
                        '_help -> "",
                        '_error -> signupForm.globalError
                    )

                    @inputText(
                        signupForm("team_id"),
                        '_label -> "Team ID",
                        '_help -> "If you don't have your team id, please request it from your team captain.",
                        '_error -> signupForm.globalError
                    )

                    <div class="clearfix  " id="position_field">
                        <label for="position">Position</label>
                        <div class="input">
                            
                        <select class="form-control" id="position" name="position">
                            <option class="blank" value="">-------- Choose a Position --------</option>
                            <option value="PG">PG</option>
                            <option value="SG">SG</option>
                            <option value="SF">SF</option>
                            <option value="F">F</option>
                            <option value="C">C</option>
                        </select>
                            <span class="help-inline"></span>
                            <span class="help-block"></span> 
                        </div>
                    </div>

                </fieldset>

                <div class="actions">
                    <input type="submit" class="btn btn-primary" value="Sign Up">
                    <a href="@routes.Application.index" class="btn btn-default">Cancel</a>
                </div>
            </div>
        }
    </div>
}
