@(player: User)(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

@main_auth("Your Information.") {

    <div class="main">
        <div class="alert alert-success"><b>Success!</b> <a href="@routes.Application.index">Sign In</a></div>

        <h2>Email Address 
            <br> 
            <small>@player.email</small> 
        </h2>

        <h2>Your Name 
            <br> 
            <small>@player.firstName @player.lastName</small> 
        </h2>

        <h2>Jersey Number 
            <br> 
            <small>@player.number</small> 
        </h2>

        <h2>Position 
            <br> 
            <small>@player.position</small> 
        </h2>
    </div>
}
