@(player: PlayerData)(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

@mainAuth("Your Information.") {

    <div class="main">
        <div class="alert alert-success"><b>Success!</b> <a href="@routes.Application.index">Sign In</a></div>

        <h2>Email Address
            <br>
            <small>@player.email</small>
        </h2>

        <h2>Your Name
            <br>
            <small>@player.firstName @player.lastName</small>
        </h2>

        <h2>Jersey Number
            <br>
            <small>@player.jerseyNumber</small>
        </h2>

        @player.position.map { position =>
            <h2>Position
                <br>
                <small>position</small>
            </h2>
        }

        <h2>Team ID
            <br>
            <small>@player.teamId</small>
        </h2>
    </div>
}
