.rsvp {
  width: 70%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.rsvp th {
  text-align: center;
}

.rsvp .playersIn {
  width: 45%;
  float: left;
}

.rsvp .playersOut {
  width: 45%;
  float: right;
}

.rsvp .playerName {
  text-align: center;
}

#map-canvas {
  width: auto;
  height: 380px;
}

.next-game .alert, .game-status-msg {
  margin-top: -20px;
  margin-left: -5px;
  margin-right: -5px;
}

.message {
  width: auto;
  margin: -20px auto 0; /* -35px was selected below to cover the width of main and container paddings, which is 15 and 20 respectively */
}

@media screen and (max-width: 640px) { 

  .rsvp {
    width: 100%;
  }

  .rsvp .playersIn {
    width: 45%;
    float: left;
  }

  .rsvp .playersOut {
    width: 45%;
    float: right;
  }
}