#map-canvas {
  width: auto;
  height: 380px;
}

.next-game .alert, .game-status-msg {
  margin-top: -20px;
  margin-left: -5px;
  margin-right: -5px;
}

.message {
  width: auto;
  margin: -20px -5px 0;
}