.login {
  margin: 30px auto;
}

.login input {
  width: 54.545454545455%; /* 300/550 */
  height: 40px;
  margin-bottom: 10px;
}

.login .btn {
  width: 54.545454545455%;
  height: auto;
  margin-bottom: 10px;
}

.button-facebook {
  border-color: #428bca;
  color: #428bca;
  white-space: normal;
}

@media screen and (max-width: 640px) { 
  
  .login input {
    width: 68.965517241379%;
    height: 40px;
  }

  .login .btn {
    width: 68.965517241379%;
    height: 34px;
  }
}

