html { 
  background: url(/assets/images/nyc-court.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    background: none;
}

.container {
    margin: 120px auto;
    width: 35%;
    max-width: 500px;
    text-align: center;
 }

/* The white background content wrapper */
.content {
    background-color:rgba(255,255,255,0.95);
    padding: 10px 0px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
    min-height: 10px;
}

/* Page header tweaks */
.page-header {
    background-color:rgba(255,255,255,0.9);
    padding: 20px 20px 10px;
    margin: -20px -20px 0px;
    color: black;
}

.content .main {
    padding: 0px 15px 10px;
}

.logo {
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) { 

  .container { 
    margin: 50px auto;
    width: 87.5%;
  }

  .logo img {
    width: 70px;
    height: 70px;
  }

  .content .main {
    padding: 0 5px 10px;
  }
}

@media screen and (max-width: 640px) { 

  .container { 
    margin: 50px auto;
    width: 87.5%;
  }

  .logo img {
    width: 60px;
    height: 60px;
  }

  .content .main {
    padding: 0 5px 10px;
  }
}

@media screen and (max-width: 320px) { 

}