html {
  background: url(/assets/images/nyc-court.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
  padding-bottom: 20px;
}

.navbar .container {
  width: 100%;
}

.container .navbar-header {
  margin-left: -45px;
}

.navbar-header .dropdown {
  width: 150px;
  font-size: 16px;
}

.navbar-header .dropdown-toggle {
  padding-left: 0;
  padding-right: 0;
}

.container > footer p {
    text-align: center;
}

.container {
    width: 60%;
    max-width: 840px;
}

/* The white background content wrapper */
.content {
    background-color:rgba(255,255,255,0.95);
    padding: 10px 0px;
    margin: 0 -20px;
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
    min-height: 10px;
}

/* Page header tweaks */
.page-header {
    background-color:rgba(255,255,255,0.9);
    padding: 20px 20px;
    margin: auto -20px;
    color: black;
}

.page-header .logo {
  width: 70px;
  height: auto;
}

.content .main {
    padding: 0px 15px 10px;
}

@media screen and (max-width: 768px) {

  .navbar .container {
    width: 90%;
  }

  .container {
    width: 87.5%;
  }

  .page-header img {
    width: 70px;
    height: 70px;
  }

  .page-header h1 {
    overflow: hidden;
    font-size: auto;
    white-space:nowrap;
  }
}

@media screen and (max-width: 640px) {

  .navbar .container {
    width: 90%;
  }

  .container {
    width: 87.5%;
  }

  .page-header img {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 320px) {

  .page-header h1 {
    font-size: 100%;
  }
}
