html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial;
    color: #3A4244;
}

.topbar {
	padding: 10px 30px;
    background: #303030;
    font-size: 24px;
}

.topbar a {
  color: #bfbfbf;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.topbar .nav {
	display: inline;
	padding: 30px;
}

.topbar .nav a {
  font-size: 18px
}

section {
    padding: 10px 30px;
}

ul {
    padding-left: 20px;
}
