.container {
  margin: 50px auto;
}

fieldset legend {
	text-align: center;
	font-style: none;
}

fieldset .clearfix {
	margin-bottom: 10px;
	margin-left: 10px;
}

.signup {
  text-align: left;
}

.signup input {
	width: 50%;
}

.signup .actions {
	margin: 15px;
}

.signup .actions .btn {
	width: 78px;
	margin-right: 10px;
}

#position {
  min-width: 240px;
  width: 50%;
}