.container {
  width: 550px;
}

.container h2 {
	text-align: center;
	padding-bottom: 10px;
}

fieldset legend {
	text-align: center;
	font-style: none;
}

fieldset .clearfix {
	margin-bottom: 10px;
	margin-left: 10px;
}

.signup input {
	width: 250px;
}

.signup .actions {
	margin: 15px;
}

.signup .actions .btn {
	width: 78px;
	margin-right: 10px;
}

@media screen and (max-width: 320px) { 
  
  /* iPhone */
  
  .container {
    width: 280px;
  }

  .container h2 {
  	font-size: 2em;
  }

  .login {
    margin: 30px;
  }

}