@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
        	<div class="topbar">
	        	<div class="container">
		            <a href="@routes.Application.index">@title</a>
		            <div class="nav">
		            	<a href="@routes.Application.schedule">| Schedule |</a>
		            	<a href="@routes.Application.roster">| Roster |</a>
		            	<a href="@routes.Application.signUp">| Sign Up |</a>
		            </div>
	            </div>
            </div>
        </header>

        <section>
            @content
        </section>
    </body>
</html>
