@(header: String, view: HelloWorldView)

@import helper._
@import scala.io.Source

@main("") {
    
    <h1>@header</h1>

    <div>
	    <table border="1" cellspacing="1" cellpadding="3">
		    <tbody>
		        <tr>
		          Team Roster
		        </tr>
		        <tr>
		          <td>No.</td>
		          <td>Name</td>
		          <td>Position</td>
		        </tr>
			      @for(line <- view.names) {
			        <tr>
			           <td>20</td>
			           <td>@line</td>
			           <td>PG</td>
			        </tr>
			      }
			  </tbody>
	    </table>
    </div>
}