@(header: String)

@import helper._

@main("") {
    
    <h1>@header</h1>

    <div>
	    <table border="1" cellpadding="15">
		    <tbody>
		        <tr>
		          <td>Location</td>
		          <td>Status</td>
		        </tr>
		        <tr>
		           <td>
					 3 Park Avenue
				   </td>
		           <td><button>IN</button> <button>OUT</button></td>
		        </tr>
		        <tr>
		           <td>
					 273 Essex St.
				   </td>
		           <td><button>IN</button> <button>OUT</button></td>
		        </tr>
			  </tbody>
	    </table>
    </div>
}