@(userForm: Form[UserForm], isAdmin: Boolean, tVm: TeamViewModel)(implicit user: User, flash: Flash)

@import helper._

@main(Html("Your Account Information."), nav = "", tVm) {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/account.css")">

    @if(flash.get("success").isDefined) {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @flash.get("success")
        </div>
    }

    <div class="main">
        @helper.form(action = routes.Account.submit(tVm.current._id)) {

            <fieldset>
                <legend>Account Information</legend>

                @inputText(
                    userForm("email"),
                    '_label -> "Email",
                    '_help -> "",
                    '_error -> userForm.globalError
                )

                @inputPassword(
                    userForm("password"),
                    '_label -> "Password",
                    '_help -> "",
                    '_error -> userForm.globalError
                )

                @inputText(
                    userForm("first_name"),
                    '_label -> "First Name",
                    '_help -> "",
                    '_error -> userForm.globalError
                )

                @inputText(
                    userForm("last_name"),
                    '_label -> "Last Name",
                    '_help -> "",
                    '_error -> userForm.globalError
                )

                @inputText(
                    userForm("number"),
                    '_label -> "Jersey Number",
                    '_help -> "",
                    '_error -> userForm.globalError
                )

                @inputText(
                userForm("phone_number"),
                  '_label -> "Phone Number",
                  '_help -> "",
                  '_error -> userForm.globalError
                )

                <!-- TODO: use partial templates and render server side -->
                @if(tVm.current.sport.name == "Basketball") {
                    <dl id="position_field">
                        <dt><label for="position">Position</label></dt>
                        <dd>
                        <select class="form-control" id="position" name="position">
                            <!-- TODO: fix me, shows duplicates -->
                            <option selected>@userForm("position").value</option>
                            <option value="PG">PG</option>
                            <option value="SG">SG</option>
                            <option value="SF">SF</option>
                            <option value="F">F</option>
                            <option value="C">C</option>
                        </select>
                        </dd>
                    </dl>
                }

                <label>Admin?</label>
                @if(isAdmin) {
                    <input name="is_admin" value="@isAdmin" type="checkbox" disabled checked>
                } else {
                    <input name="is_admin" value="@isAdmin" type="checkbox" disabled>
                }


            </fieldset>

            <div class="actions">
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="@routes.Account.delete" class="btn btn-danger">Delete</a>
            </div>
        }
    </div>
}