@(accountForm: Form[User])(implicit flash: Flash)

@import helper._

@main(Html("Your Account Information.")) {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/account.css")">

    @if(flash.get("success").isDefined) {
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @flash.get("success")
        </div>
    }

    <div class="main">
        @helper.form(action = routes.Account.submit) {

            <fieldset>
                <legend>Account Information</legend>

                @inputText(
                    accountForm("email"),
                    '_label -> "Email",
                    '_help -> "",
                    '_error -> accountForm.globalError
                )

                @inputText(
                    accountForm("firstname"),
                    '_label -> "First Name",
                    '_help -> "",
                    '_error -> accountForm.globalError
                )

                @inputText(
                    accountForm("lastname"),
                    '_label -> "Last Name",
                    '_help -> "",
                    '_error -> accountForm.globalError
                )

                @inputText(
                    accountForm("number"),
                    '_label -> "Jersey Number",
                    '_help -> "",
                    '_error -> accountForm.globalError
                )

                <dl id="position_field">
                    <dt><label for="position">Position</label></dt>
                    <dd>
                    <select class="form-control" id="position" name="position">
                            <option class="blank" value="">-------- Choose a Position --------</option>
                            <option value="PG">PG</option>
                            <option value="SG" selected="">SG</option>
                            <option value="SF">SF</option>
                            <option value="F">F</option>
                            <option value="C">C</option>
                    </select>
                    </dd>
                </dl>

            </fieldset>

            <div class="actions">
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="@routes.Account.delete" class="btn btn-danger">Delete</a>
            </div>
        }
    </div>
}