@(header: String, gameOpt: Option[Game])(implicit flash: Flash)

@import helper._

@main(Html("Next Game."), nav = "home") {

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home.css")">
  <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>

  @gameOpt.map { game =>

    <div class="message">
      @if(game.players_in.size < 5) {
        <div class="alert alert-danger">
          <strong><center>@(5-game.players_in.size) more player(s) needed for this weeks game!</center></strong>
        </div>
      } else {
        @if(game.is_playoff_game == true) {
            <div class="alert alert-danger">
                <strong><center>PLAYOFFS!! Who's ready??? Bring your shirts and lets get ready for battle. </center></strong>
            </div>
        } else {
            <div class="alert alert-info">
                <strong><center>@Config.msg</center></strong>
            </div>
        }
      }
    </div>

    @if(flash.get("success").isDefined) {
      <div class="message">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <center>@flash.get("success")</center>
        </div>
      </div>
    }

    <div class="main">
      <div class="next-game">

          <h3>Game @game.number</h3> <br>

          <div class="facebook-event">
            @if(User.loggedInUser.facebook_user.isDefined) {
              <a class="btn btn-primary" id="create-fb-event" class="btn">Create Facebook Event</a> <br><br>
            }
          </div>

          <div class="game-rsvp">
              <a href="/game/rsvp?status=in&game_id=@game._id" class="btn btn-primary">In</a>
              <a href="/game/rsvp?status=out&game_id=@game._id" class="btn btn-default">Out</a>
          </div>

          <h4>Gilt Unit vs. @game.opponent</h4>
          @game.start_time <br><br>

          @game.address <br>

          @if(game.location_details.isDefined){
            <b><font color="red">*&nbsp;</font></b>@game.location_details
          }

          <br><br><br>

          <div class="rsvp">
            <div class="playersIn">
              <table class="table">
                <thead>
                  <tr>
                    <th>@game.players_in.size Confirmed</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="playerName">
                  @for(player <- game.players_in){
                    @if(User.findByPlayerId(player.id).isDefined){
                      &nbsp; @User.findByPlayerId(player.id).get.first_name @User.findByPlayerId(player.id).get.last_name.charAt(0). <br>
                    }
                  }
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="playersOut">
              <table class="table">
                <thead>
                <tr>
                  <th>@game.players_out.size Declined</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="playerName">
                    @for(player <- game.players_out){
                      @if(User.findByPlayerId(player.id).isDefined){
                        &nbsp; @User.findByPlayerId(player.id).get.first_name @User.findByPlayerId(player.id).get.last_name.charAt(0). <br>
                      }
                    }
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- http://stackoverflow.com/questions/12871710/why-clear-both-css -->
          <div style="clear:both;"></div>

          <div id="map-canvas" data-game-address="@game.address"></div>

      </div>
    </div>

  }.getOrElse {
      NO SCHEDULED GAMES.
  }
}