@(loginForm: Form[(String,String)])(implicit flash: Flash)

@import helper._

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gilt Unit</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>

        <div class="container">

            <h1>
            Gilt Basketball
            </h1>

            <div class="content">
                
                <div class="page-header">
                    <h2>Login</h2>
                </div>

                <div class="row">
                    <div class="span14">
                        @helper.form(routes.Login.authenticate) {
            
                            @loginForm.globalError.map { error =>
                                <p class="error">
                                    @error.message
                                </p>
                            }
                            
                            @flash.get("success").map { message =>
                                <p class="success">
                                    @message
                                </p>
                            }
                            
                            <p>
                                <input type="email" name="email" placeholder="Email Address" id="email" value="@loginForm("email").value">
                            </p>
                            <p>
                                <input type="password" name="password" id="password" placeholder="Password">
                            </p>
                            <p>
                                <div class="actions">
                                    <input type="submit" class="btn btn-primary" value="Login"> or
                                    <a class="secondary-link" href="@routes.SignUp.signup">Sign Up</a>
                                </div>
                            </p>
                            
                        }
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>
