@(loginForm: Form[(String,String)])(implicit flash: Flash)

@mainAuth("Login to Sportify") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">

    <div class="main">
        @helper.form(routes.Login.authenticate) {
                
            @loginForm.globalError.map { error =>
                <p class="text-danger">
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="text-success">
                    @message
                </p>
            }

            <div class="login">
                <div class="actions">
                    <input type="email" name="email" placeholder="Email Address" id="email" value="@loginForm("email").value">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <input type="submit" class="btn btn-primary" value="Login">
                </div>
               
                <br><br><br>
                On the team? <a href="@routes.SignUp.signup">Sign Up</a>
            </div>
        }
    </div>
}
