@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>

        <header>
        	<div class="topbar">
                <div class="fill">
    	        	<div class="container">
    		            <a class="brand" href="@routes.Application.home">Gilt Basketball</a>
    		            <ul class="nav">
                            <li class="@("active".when(nav == "schedule"))">
                                <a href="@routes.Application.schedule">Schedule</a>
                            </li>
                            <li class="@("active".when(nav == "roster"))">
                                <a href="@routes.Application.roster">Roster</a>
                            </li>
                            <li class="@("active".when(nav == "news"))">
                                <a href="@routes.Application.news">News</a>
                            </li>
                        </ul>
                        <ul class="menu">
                            <a href="@routes.Login.logout">Logout</a>
                        </ul>
    	            </div>
                </div>
            </div>
        </header>

        <div class="container">

            <div class="content">
                
                <div class="page-header">
                    <h1>@title</h1>
                </div>

                <div class="row">
                    <div class="span14">
                        @content
                    </div>
                </div>
                
            </div>

            <footer>
                <p>
                    v 1.0
                </p>
            </footer>

        </div>

    </body>
</html>
