@(header: String)(content: Html)

@import controllers._
@import helper._

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0">
        <title>Gilt Unit</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main_auth.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    </head>
    <body>
        <div class="container">

            <div class="page-header">
                <h2><i>@header</i></h2>
            </div>

            <div class="content">
                @content
            </div>
        </div>
    </body>
</html>