@(header: String)

@import helper._

@main(Html("News & Highlights."), nav = "news") {

    <h3>Double Overtime thriller. Losing streak ends.</h3>
    <p>
        When I have time, boy do I have to tell you about this game.
    </p>

    <h3>Down to the wire, for a second straight game...</h3>
    <p>
    	For a second straight game, Gilt Unit loses by 1 point. It
    	was another nail biter, as the two teams battled each other down
    	to the wire, in which was yet another deflating loss for this short
    	handed squad, who was missing their anchor and center, Kevin Hyland.<br><br>

    	Last week, they came back from a 10 point deficit to tie the game at
    	72 with just 10 seconds left. Unfortunately, Jose Sanchez had a serious
    	mental relapse and he purposely fouled one of the players immediately after
    	the ensuing inbound, which would ultimately seal their fate, as they would go
    	on to lose that game 74-72. They would have one more chance to win the game,
    	with 2 seconds left, none other than Jose Sanchez was open for a 3 pointer which
    	would have won them the game, and he could have redeemed himself in a big way.
    	Unforunately he missed the shot. Jose Sanchez was not found for comment after the
    	game, which is in violation of his contract agreement. The league has fined
    	him $100.<br><br>

    	This weeks game ended in similar fashion. The star of the game was Bernard Thomas,
    	who put the team on his back and hit a buzzer beater to take the team into overtime.
    	It was their unfortunately where they would not come up with the big bucket to put
    	the game away, and they were forced to take another heart breaking loss.<br><br>

    	The team is still in high spirits, although they are 0-2, they have been in this
    	situation many times before, and have 3 championship rings to prove it.<br><br>
    </p>
    
}