@(header: String)

@import helper._

@main(Html("News & Highlights."), nav = "news") {

    <h3>Gilt Unit wins another triple over time thriller!!</h3>
    <p>
        This team has a flair for the dramatics. Gilt Unit was up by
        3 points with less than 5 seconds to play in regulation, when
        the opposing teams hard nosed point guard shocked the world with
        a half court 3 pointer at the buzzer to win the game. It was a deflating
        moment, but this team has been there before.

        Earlier this season this team has won a double overtime game and
        another triple over time game. So this was business as usual. But they
        would have to find a way to stop their guards from penetrating.

        The second over time was highlighted by Michael Herrero hitting a big
        jump shot and also a clutch And1 layup where he would make the free throw.
        He also had a great pass to a wide open Jose Sanchez on the baseline, but he
        unfortunately missed the layup. That would have put them up by 3. Instead, the
        opposing team would make 1 of 2 free throws to send the game into a triple over time.

        Here, Michael Herrero would show why he is one of the best up and coming point guards
        in the league. Kevin Hyland would win the tip, and Jose Sanchez handed it off to Michael
        Schupak, who would find Michael Herrero for an open three, which he drained to end the game.

        It was a fitting end to classic Gilt Unit game. If you are following them this season, let me
        tell you something special is happening. If they should make the playoffs, teams better watch
        out for their dynamic inside out game and ability to get stops when they need it.
    </p>

    <h3>Down to the wire, for a second straight game...</h3>
    <p>
    	For a second straight game, Gilt Unit loses by 1 point. It
    	was another nail biter, as the two teams battled each other down
    	to the wire, in which was yet another deflating loss for this short
    	handed squad, who was missing their anchor and center, Kevin Hyland.<br><br>

    	Last week, they came back from a 10 point deficit to tie the game at
    	72 with just 10 seconds left. Unfortunately, Jose Sanchez had a serious
    	mental relapse and he purposely fouled one of the players immediately after
    	the ensuing inbound, which would ultimately seal their fate, as they would go
    	on to lose that game 74-72. They would have one more chance to win the game,
    	with 2 seconds left, none other than Jose Sanchez was open for a 3 pointer which
    	would have won them the game, and he could have redeemed himself in a big way.
    	Unforunately he missed the shot. Jose Sanchez was not found for comment after the
    	game, which is in violation of his contract agreement. The league has fined
    	him $100.<br><br>

    	This weeks game ended in similar fashion. The star of the game was Bernard Thomas,
    	who put the team on his back and hit a buzzer beater to take the team into overtime.
    	It was their unfortunately where they would not come up with the big bucket to put
    	the game away, and they were forced to take another heart breaking loss.<br><br>

    	The team is still in high spirits, although they are 0-2, they have been in this
    	situation many times before, and have 3 championship rings to prove it.<br><br>
    </p>
    
}