@(header: String)

@import helper._

@main(Html("News & Highlights."), nav = "news") {


    <center><h3>Gilt Unit Stalled in Season Opener</h3></center>
    <p>
        Gilt Unit’s season opener did not go as planned. Without star Kevin Hyland (C, 28),
        the team experienced a year low 49 points.
        And that is after CoCaptain Schupak picked up 10 garbage points in the last 2 minutes.
        When asked what led to the loss, Michael Herrero stated,
        “Marshall didn’t hit his 3’s, Jim didn’t get to shoot, Bernard didn’t play D, Tymoure dribbled too much,
        Schupak wasn’t rebounding, and I wasn’t getting any penetration up top.”  That pretty much sums it up,
        it was an equal effort loss. Gilt Unit will try to put the season back on track this Thursday as they play
        on their home court where they average 78 points per game. <br><br>

        Gilt Unit has now not won a playoff game or championship in their last 4 seasons.
        If they continue to have a slow start to the season, I wouldn’t be surprised if there’s a shake up at top.
        Rumors are starting to swirl that fans would like to see Andrew Smith step down as captain,
        and somebody from the tech department take his reign. When asked about this Mr. Smith was quick to snap back,
        “Donut! That’s how many championships were won when I wasn’t captain. With me, we have, we have 3! Bill Belacheck,
        Phil Jackson, and me! We are all the same type of leaders, and we aren’t going to win a championship every time.
        I need my team to buy-in to my strategy and then we will bring a trophy back!  <br><br>
        - Michael Schupak
    </p>

    <br>

    <center>
        <h3>Here's to winning a 4th Chamionship. Cheers!</h3>
        <img src="https://lh6.googleusercontent.com/-wiC7UargEtY/T5AdK-8GvCI/AAAAAAAABdI/7D2Ie5rDrg0/s727/IMG_0921.jpg" /> <br><br>
    </center>

    <br>

    <center><h3>Gilt Unit clinches!!!</h3></center>
    <p>
        Before getting to the game, I must mention that Michael Schupak is perhaps
        the nicest person on the planet. Risking the possibility of missing our train and
        perhaps arriving late to the game, Pak (as he is known within the team), dropped his
        gym bag, did not even say a word, and turned around to help a women walk up
        her luggage to the street level. It is that same selflessness on and off the court
        that make him great. <br><br>

        As far as this game goes, it was simply supposed to be a exhibition like game,
        since they had already won by forfeit, and clinched the playoffs. But the game was far
        from that. It felt more like a Knicks vs. Heat, Game 7 playoff atmosphere. You could tell
        that Gilt Unit wanted to win, and would not be deterred by the fact they were playing a team
        well out of their division. <br><br>

        They would ultimately lose by 3 points in triple over time, but they did not go down without
        a fight. To get there, they would have to overcome an 11 point deficit with a little over 1 minute
        to go, and being down by 3 with just seconds remaining in double overtime. The entire team played
        a role in tying the game to end regulation, and it was Mike Herrero's clutch 3 pointer at the buzzer
        that would take the team into a triple overtime. <br><br>

        Although the game meant nothing, several teammates took the loss to heart. One thing is certain,
        this team is ready for the playoffs, and they are hungry to get back to basketball immortality, and
        win a 4th championship. Exciting times ahead! <br><br>
        - Jose Sanchez
    </p>

    <br>

    <center><h3>Gilt Unit wins another triple over time thriller!</h3></center>
    <p>
        This team has a flair for the dramatics. Gilt Unit was up by
        3 points with less than 5 seconds to play in regulation, when
        the opposing teams hard nosed point guard shocked the world with
        a half court 3 pointer at the buzzer to win the game. It was a deflating
        moment, but this team has been there before.<br><br>

        Earlier this season this team has won a double overtime game and
        another triple over time game. So this was business as usual. But they
        would have to find a way to stop their guards from penetrating. <br><br>

        The second over time was highlighted by Michael Herrero hitting a big
        jump shot and also a clutch And1 layup where he would make the free throw.
        He also had a great pass to a wide open Jose Sanchez on the baseline, but he
        unfortunately missed the layup. That would have put them up by 3. Instead, the
        opposing team would make 1 of 2 free throws to send the game into a triple over time.<br><br>

        Here, Michael Herrero would show why he is one of the best up and coming point guards
        in the league. Kevin Hyland would win the tip, and Jose Sanchez handed it off to Michael
        Schupak, who would find Michael Herrero for an open three, which he drained to end the game. <br><br>

        It was a fitting end to classic Gilt Unit game. If you are following them this season, let me
        tell you something special is happening. If they should make the playoffs, teams better watch
        out for their dynamic inside out game and ability to get stops when they need it. <br><br>
        - Jose Sanchez
    </p>

    <br>

    <center><h3>Down to the wire, for a second straight game</h3></center>
    <p>
    	For a second straight game, Gilt Unit loses by 1 point. It
    	was another nail biter, as the two teams battled each other down
    	to the wire, in which was yet another deflating loss for this short
    	handed squad, who was missing their anchor and center, Kevin Hyland.<br><br>

    	Last week, they came back from a 10 point deficit to tie the game at
    	72 with just 10 seconds left. Unfortunately, Jose Sanchez had a serious
    	mental relapse and he purposely fouled one of the players immediately after
    	the ensuing inbound, which would ultimately seal their fate, as they would go
    	on to lose that game 74-72. They would have one more chance to win the game,
    	with 2 seconds left, none other than Jose Sanchez was open for a 3 pointer which
    	would have won them the game, and he could have redeemed himself in a big way.
    	Unforunately he missed the shot. Jose Sanchez was not found for comment after the
    	game, which is in violation of his contract agreement. The league has fined
    	him $100.<br><br>

    	This weeks game ended in similar fashion. The star of the game was Bernard Thomas,
    	who put the team on his back and hit a buzzer beater to take the team into overtime.
    	It was their unfortunately where they would not come up with the big bucket to put
    	the game away, and they were forced to take another heart breaking loss.<br><br>

    	The team is still in high spirits, although they are 0-2, they have been in this
    	situation many times before, and have 3 championship rings to prove it.<br><br>
        - Jose Sanchez
    </p>
    
}