@(header: String)

@import helper._
@import models._

@main(Html("Roster."), nav = "roster") {
    
    <h2>@header</h2>

    <div class="container">
	    <table class="table table-striped table-hover">
		    <tbody>
			    <header>
			        <tr>
			          Team Roster
			        </tr>
			        <tr>
			          <td>No.</td>
			          <td>Name</td>
			          <td>Position</td>
			        </tr>
			    </header>
			    @for(line <- Roster.parseNames) {
			      <tr>
			         <td>@line.split(",")(1)</td>
			         <td>@line.split(",")(0)</td>
			         <td>@line.split(",")(2)</td>
			      </tr>
			    }
			  </tbody>
	    </table>
    </div>
}