@(header: String)

@import helper._
@import models._

@main(Html("Roster"), nav = "roster") {
    
    <h1>@header</h1>

    <div>
	    <table border="1" cellspacing="1" cellpadding="3">
		    <tbody>
		        <tr>
		          Team Roster
		        </tr>
		        <tr>
		          <td>No.</td>
		          <td>Name</td>
		          <td>Position</td>
		        </tr>
			    @for(line <- Roster.parseNames) {
			      <tr>
			         <td>@line.split(",")(1)</td>
			         <td>@line.split(",")(0)</td>
			         <td>@line.split(",")(2)</td>
			      </tr>
			    }
			  </tbody>
	    </table>
    </div>
}