@(pVms: List[PlayerViewModel], tVm: TeamViewModel)(implicit  user: User)

@import helper._
@import models._

@main(Html("Roster."), nav = "roster", tVm) {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/roster.css")">

<div class="main">

    <div class="roster">
        <table class="table table-striped table-hover">
            <tbody>
            <header>
                <tr>
                    Team Roster
                </tr>
                <tr>
                    <td>No.</td>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Phone</td>
                </tr>
            </header>
            @for(pVm <- pVms) {
            <tr>
                <td>@pVm.number</td>
                <td>@pVm.name</td>
                <td>@pVm.position</td>
                <td>@pVm.phoneNumber</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}